body {
    font-family: "Open Sans", sans-serif;
}

.title {
    font-size: 5em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    font-size: 2em;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button {
    font-size: 1.5em;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover { 
    background-color: lightblue;
}


.invoer-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1em;
    width: 300px;
    margin-bottom: 20px;
}

.quiz-button {
    height: 350px;
    width: 350px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 50px;
    background-color: rgb(95, 159, 243);
    }

    .subtitle {
        font-size: 3em;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.quiz-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}